*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
    transition: background-color 0.3s;
}
header{
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(5px);
    z-index: 1000;
}
header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #f4b41a;
    text-shadow: 2px 2px 4px black;
}
header .logo:hover{
    transform: scale(1.5);
}
nav.open ul{
    display: flex;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin: 0px 15px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition:  color 0.3s;
}
nav ul li a::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px ;
    background-color: #f4b41a;
    transform: scaleX(0);
    transition: 0.3s;
}
nav ul li a:hover:before{
    transform: scaleX(1);
}
nav ul li a:hover{
    color: #f4b41a;
}
.menuToggle{
    display: none;
    /* background-color: red; */
    cursor: pointer;
}
.menuToggle span{
    display: block;
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 2px;
    position: relative;
    transition: background-color 0.3s;
}
/* ------------end----------  */
.introSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #121212 50%, #333 50%);
    min-height: 110vh;
    padding-top: 60px;
    position: relative;
    overflow: hidden;
    transition: background 0.3s;

}
.intro{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 143px;
    margin-left: 150px;
    /* transition: transform 0.3s box-shadow; */
}
.intro img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid red;
    margin-right: 50px;
}
.intro img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(244, 180, 26, 0.5);
}
.introContent{
    max-width: 600px;
}
.introContent h1{
    color: white;
    font-size: 3.5rem;
    margin: 0;
    text-shadow: 2px 2px 14px #f4b41a;
}
.title {
    text-shadow: 2px 2px 14px blue;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f4b41a;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
}
.introContent p{
    text-shadow: 2px 2px 14px blue;
    color: white;
    font-size: 1.4rem;
    margin: 20px 0;
}
.ctaButton{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 10px;
}
.ctaButton a{
    text-decoration: none;
    padding: 15px 25px ;
    border-radius: 5px;
    /* border: 2px solid blue; */
    margin-bottom: 10px;
    font-size: 1.3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.downloadCv{
    background-color: #f4b41a;
    color: black;
}
.hireMe{
    background-color: white;
    color: black;
}
.ctaButton a:hover{
    background-color: #f4b41a;
    color: #121212;
    box-shadow: 2px 2px 8px rgba(244, 180, 16, 0.5);
}
.socialLinks a{
    color: white;
    font-size: 1.5rem;

    margin-right: 25px;
}
.socialLinks i:hover{
    color: #f4b41a;
    transform: scale(2);
}
.modeToggle{
    cursor: pointer;
    font-size: 20px;
    position: relative;
    transition: color 0.8s;
}
.modeToggle:hover{
    color: #f4b41a;
    transform: scale(1.5);
}
@media (max-width:768px) {
    header{
        height: 6rem;
        background-color: red;
    }
    .intro{
        flex-direction: column-reverse;
        text-align: center;
    }
    .intro img{
        margin-right: 107px;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .introContent{
        margin-right: 100px;
        text-align: center;
    }
    .ctaButton{
        justify-content: center;
    }
    .menuToggle{
        display: block;
        cursor: pointer;
    }
    nav ul{
        display: none;
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
    }
}